@use '../abstracts/mixins' as mix;
@use "../abstracts/variables" as var;
@use 'sass:math';

footer{
    background-color: var.$background-color-secondary;
    padding-top: math.div(var.$gutter-base, 2);
    padding-bottom: math.div(var.$gutter-base, 2);
    
    .wrap{
        @extend %wrap70;

        p{
            margin: 0;
            color: var.$text-color-primary;
            font-weight: var.$font-weight-bold;
            text-align: center;

            span{
                color: red;
            }
        }
    }
}